html, body {
  height: 100%;
}

.container {
  width: inherit;
  height: inherit;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr min-content;
}

.sidebar {
  background-color: #434343;
  color: white;
  border-radius: 5px;
}

.heading {
  align-items: center;
  text-transform: uppercase;
  padding-left: 5em;
}

hr.thin {
  height: 1px;
  border: 0;
  color: lightgrey;
  background-color: lightgrey;
  width: 80%;
}
