html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
/* browsers add a padding or margin by default to the body element. setting both to 0 allows the body to extend to the edge for all browsers    */
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
}

.container {
  width: inherit;
  height: inherit;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 1fr min-content;
}

#sidebar {
  background-color: #434343;
  color: white;
  border-radius: 5px;
  padding: 2rem 2rem;
}

#sidebar h2,
#sidebar h3,
#sidebar h4,
.skills h5 {
  text-transform: uppercase;
}

h2, h3, h4, h5 {
  margin-bottom: 0;
}

#sidebar h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  font-size: 2rem;
}

#sidebar h5 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: bolder;
}

#sidebar p {
 margin: 0;
}

.contact {
  list-style: none;
  padding-left: 0;
}

#experience {
  padding: 2rem 2rem;
}

#experience h4 {
  font-weight: bolder;
  margin: 0;
}

.experience-section {
  padding: 1rem 0rem;
}

.role-details h5 {
  font-weight: lighter;
  font-style: italic;
  margin: 0;
  padding: 0;
}

.role-details {
 margin-bottom: 1rem;
}

#sidebar hr {
  height: 1px;
  border: 0;
  color: lightgrey;
  background-color: lightgrey;
  width: 90%;
  padding: auto;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  font-size: 5rem;
  line-height: 1.25em;
  margin: 0;
}

h3 {
  font-size: 2rem;
  font-weight: lighter;
}

ul {
  margin-top: 0;
}

/* navbar */
.button {
  background-color: #434343;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
.button:hover {
  color: black;
  background-color: lightgrey;
}

nav {
  font-size: 80%;
  padding: 1rem;
  margin: 0 auto;
  background-color: darkgrey;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
nav li:first-child {
  flex-basis: auto;
  text-align: left;
  margin-right: auto;
}

nav a {
  color: black;
  text-decoration: none;
  display: block;
}

